<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BlogString" version="1.1.4" targetFramework="net45" />
  <package id="Lexun.Common" version="1.4.8" targetFramework="net45" />
  <package id="Lexun.Stone" version="1.4.2" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net45" />
  <package id="ServiceStack.Common" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack.Interfaces" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="1.0.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="1.0.0" targetFramework="net45" />
  <package id="System.Web.Mobile" version="1.0.0" targetFramework="net45" />
</packages>